@import url('//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
.night {
    background-color: #151515;
}
.toggler {
    font-size: 28px;
    border-radius: 100px;
    background-color: #111111;
    padding: 15px;
    color:#fcfcfc;
    box-shadow: 1px 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    position: fixed;
    bottom:20px;
    right: 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.fa-moon-o:before {
    padding:0 2px;
}
.fa-sun-o {
    background-color: #212121;
    color:#ccc;
}
.night *{
    color: #f0f0f0 !important;
    box-shadow: none;
}
button {
    background: transparent !important;
}
button:hover {
    background: transparent !important;
    opacity: 0.6;
    transition: 0.5s;
}
